/* General dark background for the app */
body {
    background-color: rgb(14, 17, 23);
}

/* Button styling */
button {
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    line-height: 1.3;
    border: 1px solid;
    margin-right: 5px;
    margin-top: 5px;
}

/* Dark theme button */
.stButton > button {
    color: white;
    background-color: transparent;
    border-color: rgba(250, 250, 250, 0.2);
    transition: all 0.3s ease-in-out;
}

/* Hover effect for dark theme button */
.stButton > button:hover {
    background-color: rgba(250, 250, 250, 0.1);
    border-color: rgba(250, 250, 250, 0.5);
}